version: '3.9'

services:
  mongo:
    image: mongo
    container_name: mongo-container
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend-container
    restart: always
    ports:
      - "5000:4000"
    env_file:
      - ./backend/config/config.env
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydb
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend-container
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo_data:
